/** Test **/


header {
    height: 20vh;
    text-align:center;
}

a {
    font-size:2em;
}

h2 {
    text-align:center;
}

.row img{
    max-width: 80%;
    height: auto;
    display:inline-block;
    margin-left: 10%;
}
body{
    background-color: #e0e0d1;
    opacity: 0.9;
}
.imgvote{
    margin-bottom: 5vh;
}

.imgvote {
    text-align:center;
    margin:auto;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width:100%;
}

th, td {
    width:50%;
}

#nav1 {
    height:10vh;
    text-align: center;
}

#nav2 {
    height:5vh;
    text-align:center;
}

.form-group {
    margin-left:5%;
    margin-bottom:2%;
}

.form-control {
    width: 25%;
}

option {
    width: 100%;
}

input {
    margin-left:5%;
    margin-bottom:2%;
    margin-top:3%;
}