/** Test **/


header {
    height: 20vh;
}

.row img{
    max-width: 80%;
    height: auto;
    display:inline-block;
    margin-left: 10%;
}
body{
    background-color: #d58512;
    opacity: 0.9;
}
.imgvote{
    margin-bottom: 5vh;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width:100%;
}

th, td {
    width:50%;
}

#nav1 {
    height:10vh;
    text-align: center;
}

#nav2 {
    height:5vh;
    text-align:center;
}
